body {
    font-family: Arial, sans-serif;
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    
    align-items: center;
    
    padding: 30px 0;
}

.post {
    background: white;
    width: 400px;
    border: 1px solid #dbdbdb;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.post-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px;
}

.post-header i {
    font-size: 24px;
}

.post-header span {
    flex-grow: 1;
    margin-left: 10px;
    font-size: 14px;
}

.options-icon {
    cursor: pointer;
    color: #555;
}

.post-img img {
    width: 100%;
    height: auto;
}

.post-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    font-size: 22px
}

.post-icons i {
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.post-icons i:hover {
    transform: scale(1.2s);
}

.post-body {
    padding: 0 12px 12px;
    font-size: 14px;
}

.post-body p {
    margin: 5px 0;
    line-height: 1.4;
}

.fa-heart.fa-solid {
    color: red;
    
}
.fa-bookmark.fa-solid{
    color: color(srgb-linear 0.24228 0.61721 0.83077);
   
}
.fa-comment.fa-solid{
    color: black;
    
}
.fa-paper-plane.fa-solid {
    color: aquamarine;
    
}